In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from taxi_demand_predictor.data import load_raw_data

rides = load_raw_data(year=2022, months=range(1, 11))
rides

Downloading file 2022-01
Downloading file 2022-02
Downloading file 2022-03
Downloading file 2022-04
Downloading file 2022-05
Downloading file 2022-06
Downloading file 2022-07
Downloading file 2022-08
Downloading file 2022-09
Downloading file 2022-10

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
3675406 2022-10-31 23:56:35                 137
3675407 2022-10-31 23:22:00                 142
3675408 2022-10-31 23:25:00                 186
3675409 2022-10-31 23:32:54                 264
3675410 2022-10-31 23:21:34                 166

[33002511 rows x 2 columns]

In [3]:
from taxi_demand_predictor.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:01<00:00, 180.90it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00      0                   1
1       2022-01-01 01:00:00      0                   1
2       2022-01-01 02:00:00      0                   1
3       2022-01-01 03:00:00      0                   1
4       2022-01-01 04:00:00      1                   1
...                     ...    ...                 ...
1933435 2022-10-31 19:00:00      2                 265
1933436 2022-10-31 20:00:00     10                 265
1933437 2022-10-31 21:00:00      6                 265
1933438 2022-10-31 22:00:00      8                 265
1933439 2022-10-31 23:00:00      4                 265

[1933440 rows x 3 columns]

In [4]:
from taxi_demand_predictor.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

  0%|          | 0/265 [00:00<?, ?it/s]

100%|██████████| 265/265 [00:11<00:00, 22.18it/s]

features.shape=(73140, 674)
targets.shape=(73140,)

In [5]:
print(f'{features.shape=}')
print(f'{targets.shape=}')

features.shape=(73140, 674)
targets.shape=(73140,)

In [6]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from taxi_demand_predictor.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / "tabular_data.parquet")